body{
    margin: 0;
    padding: 0;
}

.box{
    width: 100% ;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 520px;
    background-color: rgba(241, 241, 241, 0.699);
}

input{
    border: none;
    padding: 10px;
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 5px;
}
button{
    width: 80px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    font-weight: bold;
    border: none;  
}

button:hover{
    background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
}


#main{
    width: 160px;
    height: 260px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(110, 110, 110);
    padding: 10px;
    text-align: center;
    overflow: scroll;
}